/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
}

h1 {
  margin-bottom: 35px;
  text-align: center;
}

section {
  padding-right: 1%;  
}


h2 {
  position: absolute;
  right: -1px;
  top: -1px;
  margin: 0;
  padding-top: 0px;
  border: 1px solid black;
  width: 114px;
  height: 30px;
  font-family: Helvetica;
  text-align: center; 
}

div {
  position: relative; 
  border: 1px solid black;
  margin-right: 15px;
  margin-left: auto;
  margin-bottom: 15px;
  padding: 10px;
  padding-top: 35px;
  background-color: #ADADAD;
  color: black;
  height: 200px;
  overflow: hidden;
}


.chicken {
  background-color: #CA7887;
  
}

.beef {
  background-color: #B91332;
  color: #FFFFFF
}

.sushi {
  background-color: #C7CC00;
}

.row {
  width: 100%;
}

/** The browser should display a desktop version 
of the site when the width of the browser window is 
992px and above**/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;    
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
/** 
Tablet view should appear only if the width of the browser 
window is between 768px and 991px, inclusively.
**/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;

  }
}
